.head_nap{
	margin: 40px 0;
}
.head_nap h2{
	font-size: 24px;
	line-height: 1;
	color: #fff;
}
.head_nap ul{
	margin: 40px 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.head_nap ul li{
	margin: 5px;
}
.head_nap ul li a{
	background: #94b428;
	color: #fff;
	padding: 10px 20px;
	border-radius: 4px;
	text-decoration: none;
	display: block;
}
.head_nap ul li .active{
	background: #f3f3f3;
	color: #94b428;
	padding: 10px 100px;
	border-radius: 4px;
	text-decoration: none;
	display: block;
}
.head_nap ul li a:hover{
	background: #fff;
	color: #94b428;
}
